# Bittensor Related
bittensor==8.4.2

# Core Deep Learning & AI Frameworks
transformers==4.46.3
xformers==0.0.28.post3
torch==2.5.1
torchvision==0.20.1
accelerate==1.1.1

# AI Model & Vision Libraries
diffusers==0.31.0
openai==1.55.1
clip==0.2.0
image-reward==1.5

# Logging & Monitoring
loguru==0.7.2
python-logging-loki==0.3.1

# Development & Testing
pytest==8.3.3

# Web Dependencies
tenacity==9.0.0
